# dumpdcc
type dumpdcc, domain;
type dumpdcc_exec, exec_type, file_type;

init_daemon_domain(dumpdcc)

allow dumpdcc camera_calibration_file:file { create write open };
allow dumpdcc camera_calibration_file:dir add_name;
allow dumpdcc camera_device:chr_file { read write ioctl open };
allow dumpdcc mtd_device:chr_file { read open };
