# dumpdcc
type dumpdcc, domain;
type dumpdcc_exec, exec_type, file_type;

init_daemon_domain(dumpdcc)

allow dumpdcc camera_calibration_file:file create_file_perms;
allow dumpdcc camera_calibration_file:dir create_dir_perms;
allow dumpdcc camera_device:chr_file create_file_perms;
allow dumpdcc mtd_device:dir r_dir_perms;
allow dumpdcc mtd_device:chr_file r_file_perms;
